.support-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #007bff;
  color: white;
  border: none;
  padding: 9px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  z-index: 999;
  font-size: 26px;
}

.support-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.support-modal {
  background: white;
  padding: 24px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 14px;
  font-size: 20px;
  background: transparent;
  border: none;
  /* color: #000; */
  cursor: pointer;
}

.support-modal label {
  display: block;
  margin-bottom: 14px;
  font-weight: 500;
}
.support-modal input,
.support-modal textarea {
  width: 100%;
  padding: 10px;
  margin-top: 4px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}
.submit-btn {
  background-color: #eff6ff;
  color: #000;
  font-weight: 600;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  margin-top: 12px;
  cursor: pointer;
}
.error {
  color: red;
  font-size: 0.75rem;
}
